<div style="font-size: xx-large; display: flex">
    Doom WAD of the Month
</div>

<div class="nav-buttons">
    <div (click)="this.updateAndEmitActiveTab('landing')" 
            [ngClass]="activeTab === 'landing' ? 'active-header-tab' : ''">About</div>
    <div (click)="this.updateAndEmitActiveTab('wadForm')" 
            [ngClass]="activeTab === 'wadForm' ? 'active-header-tab' : ''">Make a WAD</div>
    <div (click)="this.updateAndEmitActiveTab('downloads')" 
            [ngClass]="activeTab === 'downloads' ? 'active-header-tab' : ''" 
            pBadge value="{{newDownloads}}"
            *ngIf="newDownloads > 0">Downloads</div>
    <div (click)="this.updateAndEmitActiveTab('downloads')" 
            [ngClass]="activeTab === 'downloads' ? 'active-header-tab' : ''"
            *ngIf="newDownloads === 0">Downloads</div>
</div>