<div class="page-title">About</div>
<div class="landing-wrapper">    
    <p-galleria
        class="landing-galleria"
        [value]="images" 
        [showIndicators]="true" 
        [showThumbnails]="false" 
        [showIndicatorsOnItem]="true"
        [autoPlay]="true"
        [circular]="true" 
        indicatorsPosition="left" 
        [containerStyle]="{ 'max-width': '50%', 'display': 'flex' }">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
        </ng-template>
        <ng-template pTemplate="indicator" let-index>
            <span style="color: #e9ecef; cursor: pointer">
                {{ index + 1 }}
            </span>
        </ng-template>
    </p-galleria>

    <div>
        <div class="faq-question">What is this?</div>
        <div class="faq-answer">This website allows you to create your own level pack for Doom 2 without having any background knowledge on map-making, level design or the like! </div>
    </div>
    <div>
        <div class="faq-question">How does it work?</div>
        <div class="faq-answer">The site takes the settings you choose & passes them to a program named "Obsidian", which procedurally generates levels behind the scenes. When the level pack is finally completed, it will be stored on my server for 24 hours. Until that time's up, you can download the WAD and even share the download link with friends!</div>
    </div>
    <div>
        <div class="faq-question">Which games are compatible?</div>
        <div class="faq-answer">Any of the classic Doom games. That is to say, Doom 1, Ultimate Doom, Doom 2, TNT and Plutonia.</div>
    </div>
    <div>
        <div class="faq-question">How do I load these levels?</div>
        <div class="faq-answer">
            <div>Obsidian generates levels that are compatable with Zdoom source-ports by default, so you'll need to download a Zdoom-ish source port.</div>
            <div>If you're not familiar with what that means, then firstly you'll need to download ZDoom from their <a href="https://zdoom.org/index" target="_blank">website</a>, and you'll need to download the Doom game of your choice. Afterward, I recommend you give Zdoom's <a href="https://zdoom.org/wiki/Installation_and_execution_of_ZDoom" target="_blank">wiki</a> a read-through, as it covers the basics of what you'll need to get started as well as provides options for you.</div>
        </div>
    </div>
    <div>
        <div class="faq-question">How long are the WADs stored?</div>
        <div class="faq-answer">24 hours. I'm only one person, and have no interest in storing the generated WADs for excess time. If you find a WAD you like, it'll be up to you to keep the file on your drive somewhere.</div>
    </div>
    <div>
        <div class="faq-question">I can't adjust the Obsidian settings that I'd like to...</div>
        <div class="faq-answer">
            <div>Sorry to disappoint, but it sounds like this site probably isn't for you, then. I'm making this site to be a more beginner-friendly introduction to Obsidian levels - if there are specific settings you'd like to have modifiable, you'll need to download the Obsidian level maker & run it yourself.</div>
        </div>
    </div>
    <div>
        <div class="faq-question">Where can I find out more?</div>
        <div class="faq-answer">
            <div>You can read more about the inner workings of the Obsidian Level Maker on its website at <a href="https://obsidian-level-maker.github.io/" target="_blank">https://obsidian-level-maker.github.io/</a>.</div>
            <div>Otherwise, I don't have any proper/ official documentation for this website at this time, but if you'd like to see the source code, you're more than welcome to visit the links below:</div>
            <div>For the website's repository: <a href="https://gitlab.com/dreamur1/doom-wotm-site" target="_blank">https://gitlab.com/dreamur1/doom-wotm-site</a></div>
            <div>For the back-ends's repository: <a href="https://gitlab.com/dreamur1/doom-wotm-service" target="_blank">https://gitlab.com/dreamur1/doom-wotm-service</a></div>
        </div>
    </div>
</div>