<header (onTabSelect)="activeTab = $event"></header>
<p-toast position="top-center"></p-toast>
<div class="page-content">
    <div class="layout-wrapper">
        <landing *ngIf="activeTab === 'landing'"></landing>
        <request-form-wrapper *ngIf="activeTab === 'wadForm'"></request-form-wrapper>
        <available-wads *ngIf="activeTab === 'downloads'"></available-wads>
    </div>
</div>