<div class="advanced-form">
    <div class="advanced-button-tray-submit-section">
        <div>
            <div *ngIf="formState.wadNameInfoBanner" class="corrected-wad-name">{{formState.wadNameInfoBanner}}</div>
            <div class="basic-form-controls">
                <input type="text" pInputText [(ngModel)]="formState.wadName" (ngModelChange)="sanitizeWadName()" placeholder="WAD Name" class="basic-form-wad-name"/>
                <p-button class="basic-submit-button" (click)="requestNewWad()" label="Make the Maps!" [disabled]="formState.isInvaldWad"></p-button>
            </div>
        </div>
        <div class="basic-reset-button" style="display: flex; flex-direction: column-reverse">
            <p-button (click)="resetToDefaults()" label="Reset to Defaults" severity="secondary"></p-button>
        </div>
    </div>

    <p-tabView>
        <p-tabPanel header="Game">
            <div style="display: flex; flex-direction: row;">
                <div style="display: flex; flex-direction: column; align-items: center; gap: 2em;">
                    <div style="display: flex; flex-direction: column;">
                        <span class="button-select-label">Source WAD</span>
                        <p-selectButton [options]="doomWadOptions" [(ngModel)]="formState.obsidianConfig.sourceWad" [allowEmpty]="false" optionLabel="label" optionValue="value"></p-selectButton>
                    </div>
                    <div style="display: flex; gap: 5em">
                        <div style="display: flex; gap: 1em">
                            <div class="slider-wrapper-vertial">
                                <div class="slider-label">Game Length</div>
                                <p-slider [(ngModel)]="gameLengthIndex" [min]="0" [max]="3" (onChange)="updateGameLength()" [orientation]="'vertical'"></p-slider>
                                <div class="slider-value">{{gameLengthOptions[gameLengthIndex].label}}</div>
                            </div>
                            <div class="slider-wrapper-vertial">
                                <div class="slider-label">Secrets per Level</div>
                                <p-slider [(ngModel)]="secretsPerLvlIndex" [min]="0" [max]="7" (onChange)="updateSecretsPerLevel()" [orientation]="'vertical'"></p-slider>
                                <div class="slider-value">{{nRFLSMHandMixed[secretsPerLvlIndex].label}}</div>
                            </div>
                            <div class="slider-wrapper-vertial">
                                <div class="slider-label">Bonus Loot in Secrets</div>
                                <p-slider [(ngModel)]="bonusInSecretsIndex" [min]="0" [max]="4" (onChange)="updateBonusLoot()" [orientation]="'vertical'"></p-slider>
                                <div class="slider-value">{{secretsBonusOptions[bonusInSecretsIndex].label}}</div>
                            </div>
                            <div class="slider-wrapper-vertial">
                                <div class="slider-label">Health Pickups</div>
                                <p-slider [(ngModel)]="healthPickupIndex" [min]="0" [max]="7" (onChange)="updateHealthPickupFreq()" [orientation]="'vertical'"></p-slider>
                                <div class="slider-value">{{healthAndAmmoOptions[healthPickupIndex].label}}</div>
                            </div>
                            <div class="slider-wrapper-vertial">
                                <div class="slider-label">Ammo Pickups</div>
                                <p-slider [(ngModel)]="ammoPickupIndex" [min]="0" [max]="7" (onChange)="updateAmmoPickupFreq()" [orientation]="'vertical'"></p-slider>
                                <div class="slider-value">{{healthAndAmmoOptions[ammoPickupIndex].label}}</div>
                            </div>
                            <div class="slider-wrapper-vertial">
                                <div class="slider-label">Misc Item Pickups</div>
                                <p-slider [(ngModel)]="itemPickupIndex" [min]="0" [max]="5" (onChange)="updateItemPickupFreq()" [orientation]="'vertical'"></p-slider>
                                <div class="slider-value">{{itemFreqOptions[itemPickupIndex].label}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Architecture">
            <div style="display: flex; flex-direction: column; align-items: center;">
                <div style="display: flex; gap: 2em">
                    <span class="knob-wrapper">
                        <div class="knob-label">Level Size</div>
                        <p-knob [(ngModel)]="formState.obsidianConfig.levelSize" [min]="40" [max]="200" [step]="5" valueTemplate="{{formState.obsidianConfig.levelSize}}%" [size]="300"></p-knob>
                    </span>
                    <span class="knob-wrapper">
                        <div class="knob-label">Lighting Multiplier</div>
                        <p-knob [(ngModel)]="formState.obsidianConfig.lightingMultiplier" [min]="50" [max]="150" [step]="1" valueTemplate="{{formState.obsidianConfig.lightingMultiplier}}%" [size]="300"></p-knob>
                    </span>
                </div>
                <div style="display: flex; gap: 2em; margin-bottom: 2em">
                    <span class="checkbox-wrapper">
                        <div class="checkbox-label">Allow Prebuilt Levels</div>
                        <p-checkbox [(ngModel)]="formState.obsidianConfig.allowPrebuiltLevels" [binary]="true" inputId="binary"></p-checkbox>
                    </span>
                    <span class="checkbox-wrapper">
                        <div class="checkbox-label">Enable Bottomless Vistas + 3D Skyboxes</div>
                        <p-checkbox [(ngModel)]="formState.obsidianConfig.enableBottomlessVistasAndSkyboxes" [binary]="true" inputId="binary"></p-checkbox>
                    </span>
                </div>
                <div style="display: flex; gap: 1em">
                    <div class="slider-wrapper-vertial">
                        <div class="slider-label">Outdoor Areas</div>
                        <p-slider [(ngModel)]="outdoorFreqIndex" [min]="0" [max]="7" (onChange)="udpateOutdoorsFreq()" [orientation]="'vertical'"></p-slider>
                        <div class="slider-value">{{nRFLSMHandMixed[outdoorFreqIndex].label}}</div>
                    </div>
                    <div class="slider-wrapper-vertial">
                        <div class="slider-label">Caves</div>
                        <p-slider [(ngModel)]="cavesFreqIndex" [min]="0" [max]="7" (onChange)="updateCavesFreq()" [orientation]="'vertical'"></p-slider>
                        <div class="slider-value">{{nRFLSMHandMixed[cavesFreqIndex].label}}</div>
                    </div>
                    <div class="slider-wrapper-vertial">
                        <div class="slider-label">Pools of Liquids</div>
                        <p-slider [(ngModel)]="liquidPoolsFreqIndex" [min]="0" [max]="7" (onChange)="updateLiquidsFreq()" [orientation]="'vertical'"></p-slider>
                        <div class="slider-value">{{nRFLSMHandMixed[liquidPoolsFreqIndex].label}}</div>
                    </div>
                    <div class="slider-wrapper-vertial">
                        <div class="slider-label">Hallways</div>
                        <p-slider [(ngModel)]="hallwaysFreqIndex" [min]="0" [max]="7" (onChange)="updateHallwaysFreq()" [orientation]="'vertical'"></p-slider>
                        <div class="slider-value">{{nRFLSMHandMixed[hallwaysFreqIndex].label}}</div>
                    </div>
                    <div class="slider-wrapper-vertial">
                        <div class="slider-label">Teleporters</div>
                        <p-slider [(ngModel)]="teleportersFreqIndex" [min]="0" [max]="7" (onChange)="updateTeleportersFreq()" [orientation]="'vertical'"></p-slider>
                        <div class="slider-value">{{nRFLSMHandMixed[teleportersFreqIndex].label}}</div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Combat">
            <div style="display: flex; flex-direction: column; align-items: center;">
                <div style="display: flex; gap: 2em">
                    <span class="knob-wrapper">
                        <div class="knob-label">Monster Quantity</div>
                        <p-knob [(ngModel)]="formState.obsidianConfig.monsterQuantity" [min]="0" [max]="1000" [step]="5" valueTemplate="{{formState.obsidianConfig.monsterQuantity}}%" [size]="300"></p-knob>
                    </span>
                    <span class="knob-wrapper">
                        <div class="knob-label">Monster Strength</div>
                        <p-knob [(ngModel)]="formState.obsidianConfig.monsterStrength" [min]="55" [max]="1200" [step]="5" valueTemplate="{{formState.obsidianConfig.monsterStrength}}%" [size]="300"></p-knob>
                    </span>
                </div>
                <div style="display: flex; align-items: center; gap: 3em;">
                    <div style="display: flex; gap: 1em; flex-direction: column; align-items: end;">
                        <span class="checkbox-wrapper">
                            <div class="checkbox-label">Make levels Pistol Startable</div>
                            <p-checkbox [(ngModel)]="formState.obsidianConfig.pistolStartCompatable" [binary]="true" inputId="binary"></p-checkbox>
                        </span>
                        <span class="checkbox-wrapper">
                            <div class="checkbox-label">Make Starting Rooms Safe</div>
                            <p-checkbox [(ngModel)]="formState.obsidianConfig.safeStartingRooms" [binary]="true" inputId="binary"></p-checkbox>
                        </span>
                        <span class="checkbox-wrapper">
                            <div class="checkbox-label">Allow Monsters in Secrets</div>
                            <p-checkbox [(ngModel)]="formState.obsidianConfig.monstersInSecrets" [binary]="true" inputId="binary"></p-checkbox>
                        </span>
                    </div>
                    <div style="display: flex; gap: 2em; flex-direction: column;">
                        <div class="slider-wrapper-horizontal">
                            <div class="slider-label">Monster Variety: <span class="slider-value">{{nRFLSMHandMixed[monVarietyInded].label}}</span></div>
                            <div style="width: 100%">
                                <p-slider [(ngModel)]="monVarietyInded" (onChange)="updateMonVariety()" [min]="0" [max]="7"></p-slider>
                            </div>
                        </div>
                        <div class="slider-wrapper-horizontal">
                            <div class="slider-label">Traps Frequency: <span class="slider-value">{{nRFLSMHandMixed[trapFreqIndex].label}}</span></div>
                            <div style="width: 100%">
                                <p-slider [(ngModel)]="trapFreqIndex" (onChange)="updateTrapFreq()" [min]="0" [max]="7"></p-slider>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Monster Spawn Fine-Tuning">
            <div style="display: flex; gap: 5em">
                <div style="display:flex; flex-direction: column; gap: 1em">       
                    <div class="slider-wrapper-horizontal">
                        <div class="slider-label-left">Number of Zombies: <span class="slider-value">{{formState.obsidianConfig.zombieCount * 20 + '%'}}</span></div>
                        <div style="width: 100%">
                            <p-slider [(ngModel)]="formState.obsidianConfig.zombieCount"></p-slider>
                        </div>
                    </div>
                    <div class="slider-wrapper-horizontal">
                        <div class="slider-label-left">Number of Shotgunners: <span class="slider-value">{{formState.obsidianConfig.shotgunnerCount * 20 + '%'}}</span></div>
                        <div style="width: 100%">
                            <p-slider [(ngModel)]="formState.obsidianConfig.shotgunnerCount"></p-slider>
                        </div>
                    </div>
                    <div class="slider-wrapper-horizontal">
                        <div class="slider-label-left">Number of Sarges: <span class="slider-value">{{formState.obsidianConfig.sargeCount * 20 + '%'}}</span></div>
                        <div style="width: 100%">
                            <p-slider [(ngModel)]="formState.obsidianConfig.sargeCount"></p-slider>
                        </div>
                    </div>
                    <div class="slider-wrapper-horizontal">
                        <div class="slider-label-left">Number of Nazis: <span class="slider-value">{{formState.obsidianConfig.naziCount * 20 + '%'}}</span></div>
                        <div style="width: 100%">
                            <p-slider [(ngModel)]="formState.obsidianConfig.naziCount"></p-slider>
                        </div>
                    </div>
                    <div class="slider-wrapper-horizontal">
                        <div class="slider-label-left">Number of Imps: <span class="slider-value">{{formState.obsidianConfig.impCount * 20 + '%'}}</span></div>
                        <div style="width: 100%">
                            <p-slider [(ngModel)]="formState.obsidianConfig.impCount"></p-slider>
                        </div>
                    </div>
                    <div class="slider-wrapper-horizontal">
                        <div class="slider-label-left">Number of Lost Souls: <span class="slider-value">{{formState.obsidianConfig.lostSoulCount * 20 + '%'}}</span></div>
                        <div style="width: 100%">
                            <p-slider [(ngModel)]="formState.obsidianConfig.lostSoulCount"></p-slider>
                        </div>
                    </div>
                    <div class="slider-wrapper-horizontal">
                        <div class="slider-label-left">Number of Demons: <span class="slider-value">{{formState.obsidianConfig.demonCount * 20 + '%'}}</span></div>
                        <div style="width: 100%">
                            <p-slider [(ngModel)]="formState.obsidianConfig.demonCount"></p-slider>
                        </div>
                    </div>
                    <div class="slider-wrapper-horizontal">
                        <div class="slider-label-left">Number of Spectres: <span class="slider-value">{{formState.obsidianConfig.spectreCount * 20 + '%'}}</span></div>
                        <div style="width: 100%">
                            <p-slider [(ngModel)]="formState.obsidianConfig.spectreCount"></p-slider>
                        </div>
                    </div>
                    <div class="slider-wrapper-horizontal">
                        <div class="slider-label-left">Number of Pain Elementals: <span class="slider-value">{{formState.obsidianConfig.painElementalCount * 20 + '%'}}</span></div>
                        <div style="width: 100%">
                            <p-slider [(ngModel)]="formState.obsidianConfig.painElementalCount"></p-slider>
                        </div>
                    </div>
                </div>
                <div style="display:flex; flex-direction: column; gap: 1em">          
                    <div class="slider-wrapper-horizontal">
                        <div class="slider-label-left">Number of Cacodemons: <span class="slider-value">{{formState.obsidianConfig.cacodemonCount * 20 + '%'}}</span></div>
                        <div style="width: 100%">
                            <p-slider [(ngModel)]="formState.obsidianConfig.cacodemonCount"></p-slider>
                        </div>
                    </div>
                    <div class="slider-wrapper-horizontal">
                        <div class="slider-label-left">Number of Hell Knights: <span class="slider-value">{{formState.obsidianConfig.hellKnightCount * 20 + '%'}}</span></div>
                        <div style="width: 100%">
                            <p-slider [(ngModel)]="formState.obsidianConfig.hellKnightCount"></p-slider>
                        </div>
                    </div>
                    <div class="slider-wrapper-horizontal">
                        <div class="slider-label-left">Number of Revenants: <span class="slider-value">{{formState.obsidianConfig.revenantCount * 20 + '%'}}</span></div>
                        <div style="width: 100%">
                            <p-slider [(ngModel)]="formState.obsidianConfig.revenantCount"></p-slider>
                        </div>
                    </div>
                    <div class="slider-wrapper-horizontal">
                        <div class="slider-label-left">Number of Mancubi: <span class="slider-value">{{formState.obsidianConfig.mancubusCount * 20 + '%'}}</span></div>
                        <div style="width: 100%">
                            <p-slider [(ngModel)]="formState.obsidianConfig.mancubusCount"></p-slider>
                        </div>
                    </div>
                    <div class="slider-wrapper-horizontal">
                        <div class="slider-label-left">Number of Arachnatrons: <span class="slider-value">{{formState.obsidianConfig.arachnatronCount * 20 + '%'}}</span></div>
                        <div style="width: 100%">
                            <p-slider [(ngModel)]="formState.obsidianConfig.arachnatronCount"></p-slider>
                        </div>
                    </div>
                    <div class="slider-wrapper-horizontal">
                        <div class="slider-label-left">Number of Archvile: <span class="slider-value">{{formState.obsidianConfig.archVileCount * 20 + '%'}}</span></div>
                        <div style="width: 100%">
                            <p-slider [(ngModel)]="formState.obsidianConfig.archVileCount"></p-slider>
                        </div>
                    </div>
                    <div class="slider-wrapper-horizontal">
                        <div class="slider-label-left">Number of Barons of Hell: <span class="slider-value">{{formState.obsidianConfig.baronOfHellCount * 20 + '%'}}</span></div>
                        <div style="width: 100%">
                            <p-slider [(ngModel)]="formState.obsidianConfig.baronOfHellCount"></p-slider>
                        </div>
                    </div>
                    <div class="slider-wrapper-horizontal">
                        <div class="slider-label-left">Number of Cyber Demons: <span class="slider-value">{{formState.obsidianConfig.cyberDemonCount * 20 + '%'}}</span></div>
                        <div style="width: 100%">
                            <p-slider [(ngModel)]="formState.obsidianConfig.cyberDemonCount"></p-slider>
                        </div>
                    </div>
                    <div class="slider-wrapper-horizontal">
                        <div class="slider-label-left">Number of Spider Masterminds: <span class="slider-value">{{formState.obsidianConfig.spiderMastermindCount * 20 + '%'}}</span></div>
                        <div style="width: 100%">
                            <p-slider [(ngModel)]="formState.obsidianConfig.spiderMastermindCount"></p-slider>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>