<div class="basic-form">
    <div class="basic-button-tray-submit-section">
        <div>
            <div *ngIf="formState.wadNameInfoBanner" class="corrected-wad-name">{{formState.wadNameInfoBanner}}</div>
            <div class="basic-form-controls">
                <input type="text" pInputText [(ngModel)]="formState.wadName" (ngModelChange)="sanitizeWadName()" placeholder="WAD Name" class="basic-form-wad-name"/>
                <p-button class="basic-submit-button" (click)="requestNewWad()" label="Make the Maps!" [disabled]="formState.isInvaldWad"></p-button>
            </div>
        </div>
        <div class="basic-reset-button" style="display: flex; flex-direction: column-reverse">
            <p-button (click)="resetToDefaults()" label="Reset to Defaults" severity="secondary"></p-button>
        </div>
    </div>

    <div class="basic-form-row">
        <div class="basic-knob-column">
            <div class="basic-level-size-knob">
                <span class="knob-wrapper">
                    <div class="knob-label">Level Size</div>
                    <p-knob [(ngModel)]="formState.obsidianConfig.levelSize" [min]="40" [max]="200" [step]="5" valueTemplate="{{formState.obsidianConfig.levelSize}}%" [size]="300"></p-knob>
                </span>
            </div>
            <div class="basic-monster-knobs">
                <span class="knob-wrapper">
                    <div class="knob-label">Monster Quantity</div>
                    <p-knob [(ngModel)]="formState.obsidianConfig.monsterQuantity" [min]="0" [max]="1000" [step]="5" valueTemplate="{{formState.obsidianConfig.monsterQuantity}}%"></p-knob>
                </span>
        
                <span class="knob-wrapper">
                    <div class="knob-label">Monster Strength</div>
                    <p-knob [(ngModel)]="formState.obsidianConfig.monsterStrength" [min]="55" [max]="1200" [step]="5" valueTemplate="{{formState.obsidianConfig.monsterStrength}}%"></p-knob>
                </span>
            </div>
        </div>
    
        <div class="basic-button-tray-column">
            <div class="basic-button-tray-buttons">
                <div>
                    <span class="button-select-label">Game Length</span>
                    <p-selectButton [options]="gameLengthOptions" [(ngModel)]="formState.obsidianConfig.gameLength" [allowEmpty]="false" optionLabel="label" optionValue="value"></p-selectButton>
                </div>
        
                <div>
                    <span class="button-select-label">Health Pickup Quantity</span>
                    <p-selectButton [options]="healthAndAmmoOptions" [(ngModel)]="formState.obsidianConfig.healthPickupQuantity" [allowEmpty]="false" optionLabel="label" optionValue="value"></p-selectButton>
                </div>
            
                <div>
                    <span class="button-select-label">Ammo Pickup Quantity</span>
                    <p-selectButton [options]="healthAndAmmoOptions" [(ngModel)]="formState.obsidianConfig.ammoPickupQuantity" [allowEmpty]="false" optionLabel="label" optionValue="value"></p-selectButton>
                </div>
            </div>
        </div>
    </div>
</div>