<div class="page-title">Downloads</div>

<div class="page-sub-title">WADs of the Month</div>
<div class="wads-wrapper">
    <div *ngIf="!this.wotms">
        <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
    </div>
    
    <div *ngIf="this.wotms && this.wotms.length === 0">
        <div>There's nothing here...</div>
    </div>

    <span *ngIf="this.wotms && this.wotms.length !== 0" class="wads-wrapper">
        <span *ngFor="let wadData of wotms" class="floppy-shadow">
            <div class="floppy-download floppy-{{wadData.obsidianConfig.sourceWad}}">
                <div class="floppy-upper">
                    <div class="floppy-chip">
                        <div class="floppy-chip-hole"></div>
                    </div>
                </div>
                <div class="floppy-label">
                    <div class="floppy-text">
                        <div class="floppy-wad-name" [style.font-size]="wadData.fontSize">{{ (wadData.wadName.length > 20) ? (wadData.wadName | slice:0:17) + '...' : (wadData.wadName) }}</div>
                        <div class="floppy-wad-countdown">{{ wadData.deletionTimestamp | countdown }}</div>
                        <div class="floppy-wad-download" *ngIf="isExpired(wadData.deletionTimestamp) === false"><a href="{{environmentConfig.apiUrl}}/wotm/name/{{wadData.wadName}}/false" target="_blank" rel="noopener noreferrer">Download</a></div>
                        <div class="floppy-wad-inspect" (click)="fetchConfig(wadData.wadName, true)">Inspect</div>
                    </div>
                </div>
            </div>
        </span>
    </span>
</div>

<div class="page-sub-title">Usermade WADs</div>
<div class="wads-wrapper">
    <div *ngIf="!this.availableWads">
        <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
    </div>
    
    <div *ngIf="this.availableWads && this.availableWads.length === 0">
        <div>There's nothing here...</div>
    </div>

    <span *ngIf="this.availableWads && this.availableWads.length !== 0" class="wads-wrapper">
        <span *ngFor="let wadData of availableWads" class="floppy-shadow">
            <div class="floppy-download floppy-{{wadData.obsidianConfig.sourceWad}}">
                <div class="floppy-upper">
                    <div class="floppy-chip">
                        <div class="floppy-chip-hole"></div>
                    </div>
                </div>
                <div class="floppy-label">
                    <div class="floppy-text">
                        <div class="floppy-wad-name" [style.font-size]="wadData.fontSize">{{ (wadData.wadName.length > 20) ? (wadData.wadName | slice:0:17) + '...' : (wadData.wadName) }}</div>
                        <div class="floppy-wad-countdown">{{ wadData.deletionTimestamp | countdown }}</div>
                        <div class="floppy-wad-download" *ngIf="isExpired(wadData.deletionTimestamp) === false"><a href="{{environmentConfig.apiUrl}}/wotm/name/{{wadData.wadName}}/true" target="_blank" rel="noopener noreferrer">Download</a></div>
                        <div class="floppy-wad-inspect" (click)="fetchConfig(wadData.wadName)">Inspect</div>
                    </div>
                </div>
            </div>
        </span>
    </span>
</div>