<div class="page-title">Make a WAD</div>

<div class="basic-button-tray-buttons" style="align-self: center">
    <div style="display: flex; justify-content: space-around; gap: 1em;">
        <span class="button-select-label">{{isAdvancedMode ? 'Advanced Mode' : 'Basic Mode'}}</span>
        <p-inputSwitch [(ngModel)]="isAdvancedMode" (onChange)="resetToDefaults()"></p-inputSwitch>
    </div>
</div>

<basic-request-form 
    *ngIf="!isAdvancedMode" 
    [formState]="formState" 
    (resetConfig)="resetToDefaults()" 
    (sanitizeWad)="sanitizeWadName()"
    (submitForm)="requestNewWad()"></basic-request-form>
<advanced-request-form 
    *ngIf="isAdvancedMode" 
    [formState]="formState"
    (resetConfig)="resetToDefaults()" 
    (sanitizeWad)="sanitizeWadName()"
    (submitForm)="requestNewWad()"></advanced-request-form>
