$primary-color: #FFD54F
$secondary-color: #78909C
$page-column-gap: 2em

body
    margin: 0
    background: #1c1b22

header
    background: #111
    padding: 1em
    margin-bottom: 2em
    display: flex
    justify-content: space-between

available-wads
    display: flex
    flex-direction: column
    gap: $page-column-gap

.active-header-tab
    border-bottom: 1px solid $primary-color
    color: $primary-color

.wads-wrapper
    display: flex
    flex-flow: row wrap
    gap: 1em
    margin: 0 2.5em
    justify-content: center

.page-content
    margin: 0em 5em 2em

.nav-buttons
    > div
        font-weight: bold
    > div:hover
        cursor: pointer

.tab-group
    margin-bottom: 4em
    display: flex
    justify-content: center

landing
    display: flex
    justify-content: center
    flex-direction: column
    gap: $page-column-gap

.landing-wrapper
    display: flex
    flex-direction: column
    gap: 2em

.landing-galleria
    > p-galleriacontent
        display: flex
        justify-content: center

.faq-question
    font-size: xx-large
    color: $primary-color
    font-weight: bold
    border-bottom: 2px solid $primary-color

.faq-answer
    font-size: large

request-form-wrapper
    display: flex
    justify-content: center
    flex-direction: column
    gap: $page-column-gap

basic-request-form
    display: flex
    justify-content: center
    flex-direction: column
    gap: $page-column-gap

advanced-request-form
    display: flex
    justify-content: center

.nav-buttons
    display: flex
    align-self: center
    gap: 2em
    font-size: larger

.page-title
    display: flex
    align-self: center
    font-size: xxx-large
    color: $primary-color
    font-weight: bolder
    border-bottom: 2px solid $secondary-color

.page-sub-title
    display: flex
    align-self: center
    font-size: x-large
    color: $primary-color
    font-weight: bolder

.basic-form
    display: flex
    gap: 3em
    align-self: center
    flex-direction: column

.basic-form-row
    display: flex
    gap: 5em

.wad-download-card-usermade
    > .p-card.p-component
        background: #444

.basic-button-tray-column
    display: flex
    flex-direction: column

.basic-button-tray-buttons
    display: flex
    flex-direction: column
    gap: 1.25em

.basic-button-tray-submit-section
    display: flex
    flex-direction: row
    justify-content: space-evenly

.basic-knob-column
    display: flex
    gap: 2em

.basic-monster-knobs
    display: flex
    flex-direction: column
    gap: 2em

.basic-level-size-knob
    display: flex

.displayed-wad-pages
    margin-top: 1.5em
    display: flex
    justify-content: space-evenly

.knob-wrapper
    display: flex
    flex-direction: column
    align-items: center

.knob-label
    color: $primary-color
    font-size: x-large
    
.button-select-label
    color: $primary-color
    font-size: x-large

.floppy-shadow
    filter: drop-shadow(10px 10px 0px black)

.floppy-download
    width: 18em
    background: #036
    height: 20em
    display: flex
    justify-content: space-between
    flex-direction: column
    clip-path: polygon(85% 0, 100% 16%, 100% 100%, 0 100%, 0 0)

.floppy-upper
    background: black
    width: 12em
    height: 6em
    margin: 0 3em
    display: flex
    justify-content: flex-end
    border-radius: 0 0 0.5em 0.5em

.floppy-chip
    background: #ccc
    width: 8em
    display: flex
    border-radius: 0 0 0.5em 0.5em

.floppy-chip-hole
    background: black
    width: 2.5em
    height: 80%
    margin: 0.5em 0em 0.5em 4em

.floppy-label
    background: white
    width: 14em
    margin: 0 auto
    height: 12em
    display: flex
    border-radius: 0.5em 0.5em 0 0
    color: black
    font-family: 'Coming Soon', cursive
    flex-direction: column

.floppy-text
    text-align: center
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%

.floppy-wad-name
    font-size: xx-large
    border-bottom: 2px solid black
    height: 25%
    display: flex
    flex-direction: column
    justify-content: center

.floppy-wad-countdown
    font-size: larger
    border-bottom: 2px solid black
    height: 25%
    display: flex
    flex-direction: column
    justify-content: center

.floppy-wad-download
    border-bottom: 2px solid black
    height: 25%
    display: flex
    flex-direction: column
    justify-content: center
    > a
        text-decoration: none
        color: black

.floppy-wad-inspect
    height: 25%
    display: flex
    flex-direction: column
    justify-content: center

.floppy-wad-download:hover
    cursor: pointer
    font-weight: bold
    text-decoration: underline

.floppy-wad-inspect:hover
    cursor: pointer
    font-weight: bold
    text-decoration: underline

.floppy-doom1
    background: #31393C

.floppy-ultdoom
    background: #81100E

.floppy-doom2
    background: #013865

.floppy-tnt
    background: #A27702

.floppy-plutonia
    background: #8A4E05

.p-tabview .p-tabview-panels
    background: none

.slider-wrapper-vertial
    display: flex
    align-items: center
    flex-direction: column
    min-width: 10em
    gap: 0.5em

.slider-wrapper-horizontal
    display: flex
    align-items: center
    flex-direction: column
    min-width: 25em

.slider-label
    color: $primary-color
    font-size: x-large
    margin-bottom: 0.5em

.slider-label-left
    color: $primary-color
    font-size: x-large
    margin-bottom: 0.5em
    align-self: start

.slider-value
    font-size: large
    margin-bottom: 0.5em
    color: white

.checkbox-wrapper
    display: flex
    align-items: center
    gap: 1em

.checkbox-label
    color: $primary-color
    font-size: x-large

.advanced-form
    width: 70%
    display: flex
    flex-direction: column
    gap: 2em

.advanced-button-tray-submit-section
    display: flex
    flex-direction: row
    justify-content: space-evenly

.p-tabview-panels
    display: flex
    justify-content: center

.p-tabview-nav 
    display: flex
    justify-content: center

.p-tabview-nav-container
    font-size: x-large